<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
    <%= link_to "books", books_path%>
    <%= link_to "students", students_path%>
    <%=render'home/navbar' %>
    <div class='container'>
      <br/>
        <br/>
    <%= yield %>
  </body>
  <body>
</html>
